
<div class="list">
  <ul>
    <% for book in @books %>
      <li>
        <a style="background-color: lightblue" href="/BearAndBadger/books/<%= book.id %>"><%= book.name %></a>
      </li>
    <% end %>
  </ul>
</div>
