
<div class="list">
  <ul>
    <% for publisher in @publishers %>
      <li>
        <a href="/BearAndBadger/all-publishers<%= publisher.id %>"><%= publisher.name %></a>
      </li>
    <% end %>
  </ul>
</div>
