
<div class="list">
  <ul>
    <% for publisher in @publishers %>
      <li>
        <a style="background-color: lightblue" href="/BearAndBadger/publishers/<%= publisher.id %>"><%= publisher.name %></a>
      </li>
    <% end %>
  </ul>
</div>
