
<div class="list">
  <ul>
    <% for book in @books %>
      <li>
        <a style=background-color:rgba(156, 224, 245, 0.699) href="/BearAndBadger/books/<%= book.id %>"><%= book.name %></a>
      </li>
    <% end %>
  </ul>
</div>
