
<div class="list">
  <ul>
    <% for genre in @genres %>
      <li>
        <a style="background-color: lightblue" href="/BearAndBadger/genres/<%= genre.id %>"><%= genre.name %></a>
      </li>
    <% end %>
  </ul>
</div>
