<h2>Edit Genre:    <%= @genre.name %></h2>
<form method="POST" action="/BearAndBadger/genres/ <%= @genre.id %>">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="name"style="background-color: lightblue">Name:</label>
      <input type="text" name="name" id="name" value="<%= @genre.name %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Finish Edit"/>
    </div>

  </div>
</form>