<p><a href="/BearAndBadger/all-genres">Short list</a></p>
<style>
p {
 text-align:center
}
</style>
<% @genres.each do |genre| %>
  <p>Name: <%= genre.name() %></p>
  <p><a href="/BearAndBadger/genres/<%= genre.id %>">Show Genre</a></p>
  <hr />
  
<% end %>
