<p><a href="/BearAndBadger/all-genres">Short list</a></p>
<style>
p {
 text-align:left
}
</style>
<table id="t03">
  <tr>
    <th>Genre</th>
    <th>ID</th>
  </tr>
  <tr>
  <% @genres.each do |genre| %>
  <td><%= genre.name() %></td>
  <td><%= genre.id %> </td>
  <td><a href="/BearAndBadger/genres/<%= genre.id %>">Show genre</a></td>
  </tr>
<% end %>
