<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-12'>
      <title>BearAndBadger</title>
      <link rel= "stylesheet" href="/style1.css">
    </head>
    
    <nav class="navigation-bar">
      <img class="logo" src="/bear_and_badger_logo.png" /> 
        <a href="/BearAndBadger">Home</a>
        <a href="/BearAndBadger/new-book">Add Book</a>
        <a href="/BearAndBadger/new-genre">Add Genre</a>
        <a href="/BearAndBadger/new-publisher">Add Publisher</a>
        <a href="/BearAndBadger/all-books">All Books</a>
        <a href="/BearAndBadger/all-genres">All Genres</a>
        <a href="/BearAndBadger/all-publishers">All Publishers</a>
        <a href="/BearAndBadger/about-us">About Us</a>

        <%= yield %>

    </nav>
</html>