<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-25'>
      <title>BearAndBadger</title>
      <link rel= "stylesheet" href="/style1.css">
    </head>
    <div id="myMenu">
  <div class="myWrapper">
    <nav>
    <a href="/BearAndBadger"><img src="/bear_and_badger_logo.png" height="200" width="500" /></a>
    </nav>
  </div>
</div>
    <nav> 
        <div class="navbar">
        <a href="/BearAndBadger/about-us">About Us</a>
        <a href="/BearAndBadger/new-genre">Add Genre</a>
        <a href="/BearAndBadger/new-publisher">Add Publisher</a>
        <a href="/BearAndBadger/new-book">Add Book</a>
        <a href="/BearAndBadger/genres">All Genres</a>
        <a href="/BearAndBadger/publishers">All Publishers</a>
        <a href="/BearAndBadger/books">All Books</a>

        </div>
        <div class="main">
        </div>
        <%= yield %>

    </nav>
 
    
</html>
