<h2>Upload Book</h2>
<form method="POST" action="/BearAndBadger/new-book">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="author">Author:</label>
      <input type="text" name="author" id="author"/>
    </div>

    <div class="form-el">
      <label for="publisher_select">Select Publisher:</label> 
      <select name="publisher_id" id="publisher_select">
        <% @publishers.each do |publisher| %>
            <option value=<%= publisher.id %>><%= publisher.name%></option>
        <% end %>
      </select>
    </div>

     <div class="form-el">
      <label for="genre_select">Select Genre:</label> 
      <select name="genre_id" id="genre_select">
        <% @genres.each do |genre| %>
            <option value=<%= genre.id %>><%= genre.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="price">Price:</label>
      <input type="number" name="price" id="price"/>
    </div>

    <div class="form-el">
      <label for="stock">Stock:</label>
      <input type="stock" name="stock" id="stock"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Add Book to System"/>
    </div>

  </div>
</form>