<h2>Upload Genre</h2>
<form method="POST" action="/BearAndBadger/new-genre">
  <div class="form-wrapper">
    
    <div class="form-el">
      <label for="name"style="background-color: lightblue">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add genre to System"/>
    </div>

  </div>
</form>