<h1><%= @genres.name %></h1>

<h2>ID: <%= @genres.id %></h2>


<a href="/BearAndBadger/genres/<%= @genres.id %>/edit">Edit</a>
<form action="/BearAndBadger/genres/<%= @genres.id %>/delete" method="POST"><input type="submit" value="Delete"></form>