<h1><%= @publishers.name %></h1>

<h2>ID: <%= @publishers.id %></h2>


<a href="/BearAndBadger/publishers/<%= @publishers.id %>/edit-publisher">Edit</a>
<form action="/BearAndBadger/publishers/<%= @publishers.id %>/delete" method="POST"><input type="submit" value="Delete"></form>