body {
    background-color: lightblue;
    background-image: url("/b&bbackground.jpg");
    font-family: monospace;
    font-size: medium;
    font-weight: 500;
}
.navigation-bar {
   width: 100%;  /* i'm assuming full width */
   height: 80px; /* change it to desired width */
}
.logo {
   
   display: inline-block;
   vertical-align: top;
   width: 500px;
   height: 200px;
   margin-right: 0px;
   margin-top: 20px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
   display: inline-block;
   vertical-align: top;
   margin-right: 20px;
   height: 0px;        /* if you want it to take the full height of the bar */
   line-height: 80px;    /* if you want it vertically middle of the navbar */
}