body {
    background-color: rgb(6, 1, 49);
    background-image: url("/mountains.gif");
    font-family: monospace;
    font-size: x-large;
    font-weight: 500;
    background-repeat:no-repeat;

}

.navbar {
   overflow: hidden;
   position: fixed; 
   top: 0; 
   width: 100%;
 }
 
 .navbar a {
   float: right;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: x-large;
 }
 
 .navbar a:hover {
   background: grey;
   color: black;
 }


 th {
   text-align: center;
   padding: 5px;
 }
 td {
    text-align: center;
 }
 table {
   border-spacing: 50px;
 }
 table#t01 {
   width: 100%;
   background-color: lightblue;
 }
 table#t02 {
   width: 100%;
   background-color: lightcyan;
 }
 table#t03 {
   width: 50%;
   background-color:rgba(156, 224, 245, 0.699);
 }
 table#t04 {
   
  width: 100%;
  background-color:rgba(156, 224, 245, 0.863);
}
input, textarea, select, button {
  width : 250px;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
